@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}

:root {
  --dark-grey: #736f6c;
  --medium-grey: #60626e;
  --light-grey: #737277;
  --black: #29222a;
  --white: #f2ded5;
  --display-grey: #aea996;
  --display-font: #161928;
}

button {
  border: none;
  font-family: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: aqua;
}

main {
  height: 300px;
  width: 300px;
  background: var(--black);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.5);
}

.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-wrapper {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-wrapper button {
  height: 20px;
  width: 50px;
  border-radius: 3px;
  background: var(--dark-grey);
}

.button-pushed {
  animation: pushed .5s;
}

.button-wrapper p {
  margin-top: 3px;
  font-size: 8px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
}

.button-neck {
  height: 12px;
  width: 30px;
  background: var(--medium-grey);
  border-radius: 0 0 3px 3px;
}

.plus-button {
  top: 22px;
  transform: rotate(-48deg);
}

.mode-button {
  top: -26px;
}

.minus-button {
  top: 22px;
  transform: rotate(48deg);
}

.inner-main {
  height: 250px;
  width: 250px;
  position: relative;
  top: -20px;
  background: var(--medium-grey);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-svg {
  height: 40px;
  margin-top: 15px;
}

hr {
  position: relative;
  top: -10px;
  width: 50px;
  border: 1px solid var(--white);
}

.display-wrapper {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  padding: 7px;
  background: var(--black);
  border-radius: 10px;
}

.displays {
  border: 1px solid var(--white);
  margin: 7px;
  width: 75px;
  border-radius: 5px;
  position: relative;
  padding: 10px;
}

.display-title {
  font-size: 8px;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: -5px;
  left: 5px;
  background: var(--black);
  padding: 0 5px;
  color: var(--white);
}

.display-time {
  text-align: center;
  padding: 5px;
  font-family: 'Orbitron', monospace;
  font-size: 12px;
  font-weight: 300;
  background: var(--display-grey);
  color: var(--display-font);
}

.controll-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--light-grey);
  padding: 8px;
  border-radius: 7px;
}

.controll-wrapper button {
  margin: 0 5px;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 7px;
  font-weight: 300;
  text-transform: uppercase;
  background: var(--black);
  color: var(--white);
}

.highlighted {
  border: 1px solid red;
}

.creator {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  margin-top: 15px;
  color: var(--white);
}

@keyframes pushed {
  50% { transform: translateY(10px); }
}
